@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
.container{
    width: 90%;
    margin: 0 auto;
}
@media only screen and (min-width: 780px) {
   
    .englobe::before{
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        border-top: 2px solid black;
        border-left: 2px solid black;
  
        left: 5vh;
        z-index: -9999;
    }
    .englobe::after{
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        right: 5vh;
        margin-top: 1vh;
        z-index: -9999;
    }
    .docto{
        margin-top: 1.5vh;
        width: 25vh;
        height: 7vh;
    }
    .rond{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-top: 1vh;
    }
    .column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .burger{
        display: none;
    }
    .background{
        height: 100vh;
        width: 100%;
        background-image: url('feuillage.jpg');
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav_pc{
        position: fixed;
        width: 100vw;
        height: 10vh;
        background-color: rgb(17, 112, 37);
        box-shadow: 5px 5px 5px rgb(71, 97, 86);
    }
    .ul_pc{
        display: flex;
        flex-direction: row;
    }
    .li_pc{
        width: 16.666%;
        list-style: none;
        line-height: 10vh;
        text-align: center;
    }
    .a{
        color: white;
        font-size: 1.5em;
        font-family: 'Quattrocento Sans', sans-serif;
        text-decoration: none;
    }
    
    .inside{
        width: 80vw;
        height: 70vh;
        margin-top: 10vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
    }
    /* ACCUEIL */
    h2{
        font-size: 25px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    h1{
        font-size: 25px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    h3{
        font-size: 20px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    .psycho{
        font-size: 25px;
    }
    .cabinet{
        font-size: 30px;
    }
    .name_psy{
        font-size: 30px;
    }
    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .adresse{
        margin-top: 5vh;
        text-align: center;
    }
    
    p{
        font-size: 1.4em;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    .a_button{
        display: block;
        margin: 0 auto;
       
    }
    button{
        margin-top: 2vh;
        width: 20vw;
        height: 8vh;
        background-color: black;
        border: none;
        border-radius: 3px;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }
    .symbole{
        width: 75px;
        height: 75px;
        object-fit: cover;
        margin: 0 auto;
    }
    .tel{
        font-size: 25px;
        font-weight: bold;
        margin-top: 2vh;
    }
    /* PRATIQUE */
    #pratique{
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title{
        font-size: 1.6em;
       /* margin-top: 2vh;*/
    }
    .more1{
        margin-top: 3vh;
    }
    .more2{
        margin-top: 16vh;
    }
    hr{
        width: 40%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .under_title{
        font-size: 18px;
        margin-bottom: 15px;
        margin-top: 15px;
        font-family: 'Quattrocento Sans', sans-serif;
    }
    .pra{
        font-size: .8em;
        font-family: 'Quattrocento Sans', sans-serif;
    }
    /* THERAPIE */
    #therapie{
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .child, .teenager, .adult{
        width: 33%;
        padding: 2%;
    }
    .the{
        font-size: 1.2em;
        
    }
    .forma{
        text-align: left;
    }
    /* CABINET */
    #cabinet{
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .pic{
        width: 42%;
        margin: 2%;
        background-color: rgb(56, 107, 67);
        height: 350px;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .trois{
        margin-top: 5vh;;
    }
    /* CONTACT */
    #contact{
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .inner{
        background-color: white;
        width: 33%;
        height: auto;
        margin: 2%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 27.5vh;
        border-radius: 3px;
    }
    .contact{
        font-size: 1.2em;
        line-height: 1.2em;
    }
    .fas{
        font-size: 30px;
    }
    
}
@media only screen and (max-width: 780px) {
    .rond{
        display: none;
    }
    .under_title{
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .title{
        font-size: 20px;
       
        margin-top: 2vh;
    }
    hr{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .a{
        color: white;
        font-size: 1.5em;
        font-family: 'Quattrocento Sans', sans-serif;
        text-decoration: none;
    }
    .background{
        height: 100vh;
        width: 100vw;
        background-image: url('feuillage.jpg');
        padding-top: 20vh;
    }
    .nav_pc{
        display: none;
    }
    .inside{
        width: 80vw;
        height: 60vh;
        background-color: white;
        margin: 0 auto;
        margin-top: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    ul {
    list-style: none;
    }

    body {
    font-family: "Poppins", sans-serif;
    }

    .burger {
    background:#f1f1f1;
    border: 2px solid black;
    border-radius: 5px;
    margin: 15px;
    z-index: 99;
    padding: 10px;
    
    position: fixed;
    right: 5px;
    }

    .navicon {
        
    cursor: pointer;
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 15px;
    background: black;
    position: relative;
    }

    .navicon::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    top: 12px;
    border-radius: 15px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    }

    .navicon::after {
    content: "";
    border-radius: 15px;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    top: -12px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    }

    .menu-btn {
    display: none;
    }

    .menu-icon {
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after,
    .menu-btn:checked ~ .menu-icon .navicon:before {
    top: 0;
    }

    .nav {
    z-index: 99;
    position: fixed;
    right: -100%;
    width: 100%;
    min-height: 35vh;
    color: white;
    background-color: rgb(17, 112, 37);
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    transition: ease-in-out 800ms;
    margin-top: 25px;
    }

    .nav li {
        text-transform: uppercase;
        padding: 8px 0;
        text-align: center;
    }

    .menu-btn:checked ~ .nav {
    right: 0;
    transition: ease-in-out 800ms;
    }
    /* ACCUEIL */
    .a_button{
        display: block;
        margin: 0 auto;
       
    }
    button{
        margin-top: 2vh;
        width: 250px;
        height: 40px;
        background-color: black;
        border: none;
        border-radius: 3px;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }
    h2{
        font-size: 20px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    h1{
        font-size: 15px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    h3{
        font-size: 12px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    .psycho{
        font-size: 15px;
    }
    .cabinet{
        font-size: 25px;
    }
    .name_psy{
        font-size: 25px;
    }
    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .adresse{
        margin-top: 2vh;
        text-align: center;
    }
    .in{
        border: none;
        padding: 0;    
    }
    p{
        font-size: 14px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    .symbole{
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin: 0 auto;
    }
    .tel{
        margin-top: 2vh;
        font-size: 20px;
        font-weight: bold;
    }
     /* PRATIQUE */
     #pratique{
        margin-top: 2vh;
        height: auto;
    }
    .pra{
        font-size: 15px;
    }
    /* THERAPIE */
    #therapie{
        height: auto;
        margin-top: 2vh;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .child, .teenager, .adult{
        width: 100%;
        padding: 0%;
    }
    .the{
        font-size: 20px;
    }

    /* CABINET */
    #cabinet{
        height: auto;
        text-align: center;
       
    }
    
    .pic{
        width: 100%;
        background-color: rgb(58, 92, 65);
        height: 250px;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    /* CONTACT */
    #contact{
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .inner{
        background-color: white;
        width: 100%;
        height: auto;
        margin: 2%;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
    }
    .contact{
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .fas{
        font-size: 25px;
    }
}
