@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quattrocento Sans', sans-serif;
    }
.button_acc{
    font-family: 'Quattrocento Sans', sans-serif!important;
  
}
u{
    text-decoration: underline 1px;
}
.telefon{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
b{
    font-weight: bold;
}
@media only screen and (min-width: 1300px) {
    .top{
        margin-top: 20px;
    }
    .docto2{
        display: none!important;
    }
    .none{
        display: none;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .under:hover{
        font-weight: 1000!important;
    }
    .absolute{
        z-index: 99999;
        position: fixed;
        color: white;
        font-weight: bold;
        left: 2vw;
        top: 10px;;
        font-size: 1.4em;
        font-family: 'Marck Script', cursive;
    }
    .right{
        position: fixed;
        right: 2vw;
        top: 0.2vh;
        z-index: 99999;
    }
    .englobe::before{
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        border-top: 2px solid black;
        border-left: 2px solid black;
  
        left: 5vh;
        z-index: -9999;
    }
    .englobe::after{
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        right: 5vh;
        margin-top: 1vh;
        z-index: -9999;
    }
    .docto{
        margin-top: 7px;
        width: 22vh;
        height: 50px;
    }
    .rond{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-top: 1vh;
    }
    .column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .burger{
        display: none;
    }
   
    .background{
        height: 100vh;
        width: 100%;
        background: linear-gradient(#2b5353, #738d5d);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav_pc{
        position: fixed;
        width: 100vw;
        height: 70px;
        background-image: url('../img/menu.jpg');
        box-shadow: 5px 5px 5px rgb(71, 97, 86);
        z-index: 9999;
    }
    .ul_pc{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: 0 auto;
    }
    .li_pc{
        width: 25%;
        list-style: none;
        line-height: 70px;
        text-align: center;
    }
    .a{
        color: white;
        font-size: 1.5em;
        font-family: 'Quattrocento Sans', sans-serif;
        text-decoration: none;
        
    }
    .underline:after {    
        background: none repeat scroll 0 0 transparent;
        
        content: "";
        display: block;
        height: 1px;
        left: 50%;
        position: relative;
        margin-top: -17px;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      .underline:hover:after { 
        width: 100%; 
        left: 0; 
      }
      .none{
            background: transparent;
      }
    .inside{
        width: 80vw;
        height: 70vh;
        margin-top: 10vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        border: 3px solid gray;
    }
    /* ACCUEIL */
    h2{
        font-size: 25px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    h1{
        font-size: 25px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    h3{
        font-size: 20px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    .psycho{
        font-size: 25px;
    }
    .cabinet{
        font-size: 30px;
    }
    .name_psy{
        font-size: 30px;
        
    }
    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: lighter;
    }
    .adresse{
        margin-top: 5vh;
        text-align: center;
    }
    
    p{
        font-size: 1.4em;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    .a_button{
        display: block;
        margin: 0 auto;
        
    }
   
    button{
        margin-top: 2vh;
        width: 20vw;
        height: 6vh;
        line-height: 6vh;;
        background-color: white;
        border: none;
        border-radius: 3px;
        color: black;
        font-size: 25px;
        cursor: pointer;
        font-weight: lighter;
        border: 1px solid black;
       
    }
    .symbole{
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .tel{
        font-size: 25px;
        font-weight: bold;
        margin-top: 2vh;
        color: black;
        text-decoration: none;
    }
    /* PRATIQUE */
    #pratique{
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title{
        font-size: 1.6em;
        margin-top: 7vh;
    }
    .seance{
        border: 1px solid rgb(184, 184, 184);
        padding-bottom: 15px;
    }
    .more1{
        margin-top: 1.5vh;
    }
    .more2{
        margin-top: 14.8vh;
    }
    hr{
        width: 40%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .under_title{
        font-size: 18px;
        margin-bottom: 15px;
        margin-top: 15px;
        font-family: 'Quattrocento Sans', sans-serif;
    }
    .pra{
        font-size: .8em;
        font-family: 'Quattrocento Sans', sans-serif;
    }
    /* THERAPIE */
    #therapie{
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .child, .teenager, .adult{
        width: 33%;
        padding: 2%;
    }
    .the{
        font-size: 1.2em;
        
    }
    .forma{
        text-align: left;
    }
    /* CABINET */
    #cabinet{
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .pic{
        width: 42%;
        margin: 2%;
        background-color: rgb(56, 107, 67);
        height: 350px;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .trois{
        margin-top: 5vh;;
    }
    /* CONTACT */
    #contact{
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .inner{
        background-color: white;
        width: 33%;
        height: auto;
        margin: 2%;
        padding: 2%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
        border-radius: 3px;
    }
    .contact{
        font-size: 1.2em;
        line-height: 1.2em;
    }
    .fas{
        font-size: 30px;
    }
    .more_contact{
        margin-top: 11vh!important;
    }
    .doctol{
        width: 22vw;
        height: 75px;
        object-fit: cover;
        margin-top: 10px;

    }
    /* slider */

    #slider {
        z-index: 1;
        width: 50vw;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 4px;
        
      }
      
    #slider ul {
        position: relative;
        margin: 0 auto;
        padding: 0;
        height: 50vh;
        width: 40vw;
        list-style: none;
    }
    
    #slider ul li {
        position: relative;
        display: block;
        float: left;
        margin: 0 auto;
        padding: 0;
        width: 40vw;
        height: 50vh;
        background: rgb(255, 255, 255);
        text-align: center;
    }
    #slider ul li img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
      a.control_prev, a.control_next {
        position: absolute;
        top: 35%;
        z-index: 9999;
        display: block;
        padding: 4% 3%;
        width: auto;
        height: auto;
        background: #c7c7c7;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        opacity: 0.8;
        cursor: pointer;
      }
      
      a.control_prev:hover, a.control_next:hover {
        opacity: 1;
        -webkit-transition: all 0.2s ease;
      }
      
      a.control_prev {
        border-radius: 0 2px 2px 0;
      }
      
      a.control_next {
        right: 0;
        border-radius: 2px 0 0 2px;
      }
    
}
@media only screen and (max-width: 1300px) {
    .addm{
        margin-bottom: 60px;
    }
    .seance{
        border: 1px solid lightgrey;
        padding: 5px;
    }
    .docto2{
        position: fixed;
        top: 25px;
        left: 15px;
        width: 22vh;
        height: 50px;
        
    }
    .container{
        width: 75%;
        margin: 0 auto;
    }
    .rond{
        display: none;
    }
    .trois{
        display: block!important;
        margin: 0 auto;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-top: 1vh;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .right, .absolute{
        display: none;
    }
    .under_title{
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .title{
        font-size: 20px;
       
        margin-top: 2vh;
    }
    hr{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .a{
        color: white;
        font-size: 1.5em;
        font-family: 'Quattrocento Sans', sans-serif;
        text-decoration: none;
    }
    .background{
        height: 100vh;
        width: 100vw;
        background: linear-gradient(#2b5353, #738d5d);
        padding-top: 20vh;
    }
    .nav_pc{
        display: none;
    }
    .inside{
        width: 80vw;
        height: 60vh;
        background-color: white;
        margin: 0 auto;
        margin-top: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid gray;
    }

    ul {
        list-style: none;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

    .burger {
        background:#fbfbfb;
        border-radius: 2px;
        margin: 15px;
        z-index: 99;
        padding: 10px;
        position: fixed;
        right: 6.5vw;
        top: 15px;
        border: 1px solid black;
    }

    .navicon {    
        cursor: pointer;
        display: block;
        width: 45px;
        height: 1px;
        border-radius: 15px;
        background: black;
        position: relative;
    }

    .navicon::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    top: 12px;
    border-radius: 15px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    }

    .navicon::after {
    content: "";
    border-radius: 15px;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    top: -12px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    }

    .menu-btn {
    display: none;
    }

    .menu-icon {
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
       
    }

    .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after,
    .menu-btn:checked ~ .menu-icon .navicon:before {
    top: 0;
    }

    .nav {
    z-index: 99;
    position: fixed;
    right: -50%;
    width: 50%;
    min-height: 30vh;
    color: white;
    background-color: #2b5353;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    transition: ease-in-out 800ms;
    margin-top: 25px;
    }

    .nav li {
        text-transform: uppercase;
        padding: 8px 0;
        text-align: center;
    }

    .menu-btn:checked ~ .nav {
    right: 0;
    transition: ease-in-out 800ms;
    }
    /* ACCUEIL */
    .a_button{
        display: block;
        margin: 0;
       
    }
    button{
        margin-top: 2vh;
        width: 200px;
        height: 5vh;
        line-height: 5vh;
        background-color: white;
        border: none;
        border-radius: 3px;
        color: black;
        font-size: 20px;
        cursor: pointer;
        border: 1px solid black;
        padding: 0;
        }
    h2{
        font-size: 20px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    h1{
        font-size: 15px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    h3{
        font-size: 12px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
    }
    .psycho1{
        font-size: 15px;
        margin-top: 5vh;
    }
    .psycho2{
        font-size: 15px;
        margin-bottom: 1vh;
    }
    .cabinet{
        font-size: 25px;
    }
    .name_psy{
        font-size: 25px;
    }
    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .adresse{
        margin-top: 2vh;
        text-align: center;
    }
    .in{
        border: none;
        padding: 0;    
    }
    p{
        font-size: 14px;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: lighter;
        
    }
    .symbole{
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .tel{
        margin-top: 2vh;
        font-size: 20px;
        font-weight: bold;
    }
     /* PRATIQUE */
     #pratique{
        margin-top: 2vh;
        height: auto;
    }
    .pra{
        font-size: 15px;
    }
    /* THERAPIE */
    #therapie{
        height: auto;
        margin-top: 2vh;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .child, .teenager, .adult{
        width: 100%;
        padding: 0%;
    }
    .the{
        font-size: 20px;
        color: rgb(161, 161, 161);
        margin-top: 2vh;
    }

    /* CABINET */
    #cabinet{
        height: auto;
        text-align: center;
       
    }
    
    .pic{
        width: 100%;
        background-color: rgb(58, 92, 65);
        height: 250px;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    /* CONTACT */
    #contact{
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .inner{
        background-color: white;
        width: 100%;
        height: auto;
        margin: 2%;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
    }
    .contact{
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .fas{
        font-size: 25px;
    }
    .doctol{
        width: 200px;
        height: 75px;
        object-fit: cover;
  

    }
    /* slider */

    #slider {
        z-index: 1;
        width: 100vw;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 4px;
        border: transparent;
      }
      
    #slider ul {
        position: relative;
        margin: 0 auto;
        padding: 0;
        height: auto;
        width: 70vw;
        list-style: none;
    }
    
    #slider ul li {
        position: relative;
        display: block;
        float: left;
        margin: 0 auto;
        padding: 0;
        width: 70vw;
        height: auto;
        background: rgb(255, 255, 255);
        text-align: center;
    }
    #slider ul li img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
      a.control_prev, a.control_next {
        position: absolute;
        top: 35%;
        z-index: 9999;
        display: block;
        padding: 4% 3%;
        width: auto;
        height: auto;
        background: #c7c7c7;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        opacity: 0.8;
        cursor: pointer;
      }
      
      a.control_prev:hover, a.control_next:hover {
        opacity: 1;
        -webkit-transition: all 0.2s ease;
      }
      
      a.control_prev {
        border-radius: 0 2px 2px 0;
      }
      
      a.control_next {
        right: 0;
        border-radius: 2px 0 0 2px;
      }
    
}
